services:
  db:
    image: mariadb:10.11
    container_name: my-mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: '0815'
      MARIADB_DATABASE: 'myHdhyWeb'
      MARIADB_USER: 'root'
      MARIADB_PASSWORD: '0815'
    ports:
      - '3306:3306'
    volumes:
      - db-data:/var/lib/mysql
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    container_name: my-nestjs-server
    ports:
      - '3001:3001'
    volumes:
      - ./server:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: my-react-client
    ports:
      - '3000:3000'
    volumes:
      - ./client:/usr/src/app
      - /usr/src/app/node_modules
    stdin_open: true
    tty: true
  nginx:
    image: nginx:latest
    container_name: my-nginx-proxy
    ports:
      - '80:80'
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - server
      - client
volumes:
  db-data: